
.container{  
position: absolute;
width: 1440px;
height: 511px;
left: 0px;
top: 176px;
display: flex;
background: #FAF8F8;
}

.bloc-1 {
 
position: absolute;
width: 314px;
height: 325px;
left: 90px;
top: 93px;
}

.bloc-1 .p1 {
 
position: absolute;
width: -245px;
height: 24px;
left: 24px;
top: 67px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

color: #363FF3;
}

.bloc-1 .p2 {
 
position: absolute;
width: 452px;
height: 144px;
left: 24px;
top: 106px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;

color: #000000;
}

.bloc-2{
display: flex;
position: absolute;
width: 159px;
height: 296px;
left: 816px;
top: 122px;
}

 .p3{
 display: flex;
position: absolute;
width: 504px;
height: 87px;
left: 15px;
top: 33px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 29px;

color: #534B4B;
}

 .p4{
 display: flex;
position: absolute;
width: 504px;
height: 87px;
left: 15px;
top: 148px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 29px;

color: #534B4B;
}
.container2{
position: absolute;
width: 1440px;
height: 754px;
left: 0px;
top: 687px;
display: flex;
}
#image4{
display: flex;
position: absolute;
width: 610px;
height: 328px;
left: 154px;
top: 221px;
}
/* Group 7 */
.bloc1{
    display: flex;
    position: absolute;
    width: 504px;
    height: 282px;
    left: -70px;
    top: 15px;
    
}



/* LEADERSHIP */
.p5{
    display: flex;
    position: absolute;
    width: 146px;
    height: 29px;
    left: 968px;
    top: 175px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #363FF3;
}


/* Our Team Work */
.p6{
    display: flex;
    position: absolute;
    width: 291px;
    height: 48px;
    left: 968px;
    top: 204px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    
    color: #000000;
}



/* vesidum ante ipsum primis in faucibus onci luctus turpis sodales quis. integer sit amet mattis quam vivamus a liguda quam tesque et libero ut justo ufricis in. */
.p7{
    display: flex;
    position: absolute;
    width: 504px;
    height: 72px;
    left: 968px;
    top: 283px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    color: #868587;
}



/* vesidum ante ipsum primis in faucibus onci luctus turpis sodales quis. integer sit amet mattis quam vivamus a liguda quam tesque et libero ut justo ufricis in. */
.p8{
display: flex;
position: absolute;
width: 504px;
height: 72px;
left: 968px;
top: 385px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

color: #868587;
}

/* Group 17 */
button{
position: absolute;
width: 243px;
height: 61.69px;
left: 968px;
top: 538px;
 
background: #FF6607;
border-radius: 173.5px;
}

/* Read More */
.boutton {
    position: absolute;
    width: 230px;
    height: 61.69px;
    left: 900px;
    top: 557.56px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    
    color: #FFFFFF;
     background: #FF6607;
     border-radius: 173.5px;
     
}

/* Vector */
#fleche{

    position: absolute;
    width: 29px;
    height:18,93px;
    left: 170px;
    top: 20px;
    
    background: #FF6607;   
}
 

/* rectangle 3 */
.container3{

    position: absolute;
    width: 1440px;
    height: 622px;
    left: 0px;
    top: 1447px;
    
    background: #F8F7F7;
}

/* WHY CHOOSE US */
.p9{

    position: absolute;
    width: 205px;
    height: 29px;
    left: calc(50% - 205px/2 + 0.5px);
    top: 143px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    /* identical to box height */
    
    color: #363FF3;

}
.p10{
    /* We Believe In Design As Powerful Force For Good. */

position: absolute;
width: 944px;
height: 48px;
left: calc(50% - 944px/2);
top: 172px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #000000;


}






